.App {
  text-align: center;
}

.friend-list {
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  padding: 20px;
  margin: 20px 20px;
}

.friend-list .profile-name {
  padding-right: 10px;
}

.title-bar {
  border-right: 1px white solid;
  padding: 30px 0;
  background-color: black;
  color: aliceblue;
}
